<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>landing.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoggedUser</filter-name>
        <filter-class>it.polimi.db2project_telco.client.filters.LoggedUser</filter-class>
    </filter>
    <filter>
        <filter-name>AccessUser</filter-name>
        <filter-class>it.polimi.db2project_telco.client.filters.AccessUser</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedUser</filter-name>
        <url-pattern>/Payment</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessUser</filter-name>
        <url-pattern>/CreateOrder</url-pattern>
        <url-pattern>/LoadOrderByID</url-pattern>
        <url-pattern>/LoadPackageByID</url-pattern>
        <url-pattern>/LoadRejectedOrdersByUser</url-pattern>
        <url-pattern>/LoadServicePackages</url-pattern>
        <url-pattern>/LoadTrackedOrder</url-pattern>
    </filter-mapping>
</web-app>